:root {
    --header-background-main: #008151;
    --header-background-secondary: #73c868;
    --header-background-secondary-hover: #489b3d;
}

body{
    margin: 0px;
    padding: 0px;
    height: auto;
    font-family: sans-serif;
    
}

a {
    text-decoration: none;
}

header{
    grid-column-start: 1;
    grid-column-end: span 3;
    margin: 0px;
    background: var(--header-background-main);
    display: flex;
    flex-direction: column;
}

#title{
    grid-row-start: 1;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#title img{
    height: 70px;
    margin: 10px;
}

#title a{
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 255, 255);
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.navContainer{
    background: var(--header-background-secondary);
    width: 100%;
    display: flex;
}

.navContainer:hover{
    background: var(--header-background-secondary-hover);
}

.navContainer a{
    margin: auto;
    color: rgb(255, 255, 255);
}

article{
    background: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pContainer{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.pContainer p{
    margin-top: auto;
    margin-bottom: auto;
}

.aContainer{
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.aContainer a{
    margin-top: auto;
    margin-bottom: auto;
}

#general{
    grid-row-start: 2;
    grid-column-end: span 2;
}

#FLL{
    background: rgb(250, 250, 250);
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: span 2;
}

#FTC{
    grid-row-start: 4;
    grid-column-end: span 2;
}

#FRC{
    background: rgb(250, 250, 250);
    grid-row-start: 5;
    grid-column-start: 2;
    grid-column-end: span 2;
}

footer {
    grid-row-start: -1; 
    grid-column-end: span 3; 
    background: rgb(100,100,100);
}


footer img{
    height: 50px; 
    padding: 10px;
}