body{
    margin: 0px;
    padding: 0px;
    height: auto;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: auto 200px 200px 200px 200px auto;
    grid-template-columns: 40% 20% 40%;
}

header{
    grid-column-start: 1;
    grid-column-end: span 3;
    margin: 0px;
    background: rgb(55, 185, 90);
    display: flex;
    flex-direction: column;
}

#title{
    grid-row-start: 1;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#title img{
    height: 70px;
    margin: 10px;
}

#title a{
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.navContainer{
    background: rgb(115, 200, 104);
    width: 100%;
    display: flex;
}

.navContainer a{
    margin: auto;
}

article{
    background: rgb(150, 50, 50);
    padding: 50px;
}

#general{
    grid-row-start: 2;
    grid-column-end: span 2;
}

#FLL{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: span 2;
}

#FTC{
    grid-row-start: 4;
    grid-column-end: span 2;
}

#FRC{
    grid-row-start: 5;
    grid-column-start: 2;
    grid-column-end: span 2;
}



